.buttonNav {
    display: inline-block;
    box-sizing: border-box;
    margin: 5px 8px;
    padding: 5px;
    border: 1px solid #17a2b8;
    border-radius: 4px;
    color: #17a2b8;
}
.buttonNav:hover {
    color: aqua;
    text-decoration: none;
}

.buttonNavActive {
    background: #17a2b8;
    color: aqua;
}
.logo {
    width: 80px;
    height: auto;
    border-radius: 15%;
}
